<template>
  <div>
    <ul class="fixed flex justify-end gap-2 w-full p-2 z-10 bg-white">
      <li class="px-4 py-2 underline text-sm">
        <NuxtLink to="/">
          Travels
        </NuxtLink>
      </li>
      <li class="px-4 py-2 underline text-sm">
        <NuxtLink to="/booking">
          Booking
        </NuxtLink>
      </li>
    </ul>
    <NuxtPage />
  </div>
</template>
