<script setup lang="ts">
/**
 * Handles the click event of the button and navigates to the home page with a query parameter.
 */
const router = useRouter()

const onHandleClick = () => {
  router.push({
    path: '/',
    query: { "q": "add-new" }
  })
}
</script>

<template>
  <button @click="onHandleClick"
    class="fixed bottom-4 right-4 rounded-full w-16 h-16 bg-green-500 text-white text-3xl cursor-pointer z-20">+</button>
</template>