<script setup lang="ts">
/**
 * Component for rendering an input field.
 *
 * @component AtomInput
 *
 * @prop {string|number} modelValue - The value of the input field.
 * @prop {string} id - The ID of the input field.
 * @prop {string} label - The label for the input field.
 * @prop {'text' | 'number' | 'textarea'} type - The type of the input field.
 * @prop {string} placeholder - The placeholder text for the input field.
 *
 * @emits update:modelValue - Event emitted when the input value changes.
 */
import { ref, computed } from 'vue';
import type { PropType } from 'vue';

const props = defineProps({
  modelValue: {
    type: [String, Number],
    default: ''
  },
  id: String,
  label: String,
  type: {
    type: String as PropType<'text' | 'number' | 'textarea'>,
    default: 'text'
  },
  placeholder: String
});
const emit = defineEmits(['update:modelValue']);
const inputValue = ref(props.modelValue);

watch(inputValue, (newValue) => {
  emit('update:modelValue', newValue);
});

const isTextarea = computed(() => props.type === 'textarea');
</script>

<template>
  <div class="flex flex-col px-4 mt-4">
    <label :for="id" class="px-4 text-xs">{{ label }}</label>
    <input v-if="!isTextarea" v-model="inputValue" :id="id" :type="type" :placeholder="placeholder" required
      class="p-1 bg-transparent outline-none text-xs border border-dashed border-slate-600" step="0.01" />
    <textarea v-else v-model="inputValue" :id="id" :placeholder="placeholder" required
      class="p-1 bg-transparent outline-none w-full text-xs resize-none border border-dashed border-slate-600"></textarea>
  </div>
</template>