<script setup lang="ts">
/**
 * Component for rendering a form for adding or editing travel data.
 *
 * @component AtomForm
 *
 * @prop {Function} onHandleSubmit - The function to handle form submission. It takes an event payload as a parameter.
 * @prop {Function} onHandleDelete - The function to handle deletion. It takes an event payload as a parameter.
 * @prop {Object} travelData - The travel data object. It is required and should have the following properties:
 *   - image: The image URL for the travel.
 *   - travelPeriod: The period of travel.
 *   - averageRating: The average rating for the travel.
 *   - totalDays: The total number of days for the travel.
 *   - pricePerPerson: The price per person for the travel.
 *   - name: The name of the travel.
 *   - description: The description of the travel.
 * @prop {Boolean} addNewTravel - Indicates whether it is a new travel or an edit operation.
 * @emits AtomForm#submit - Emitted when the form is submitted.
 * @emits AtomForm#delete - Emitted when the delete button is clicked.
 */
const props = defineProps({
  onHandleSubmit: {
    type: Function as PropType<(payload: Event) => void>,
    required: false,
  },
  onHandleDelete: {
    type: Function as PropType<(payload: Event) => void>,
    required: false
  },
  travelData: {
    type: Object,
    default: {},
    required: true
  },
  addNewTravel: {
    type: Boolean,
    required: true
  }
});
const imagePlaceholder = "https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"

</script>

<template>
  <div class="fixed inset-0 bg-black opacity-80 z-10" @click="navigateTo('/')"></div>
  <form @submit.prevent="onHandleSubmit"
    class="fixed md:top-8 md:left-1/4 bg-neutral-900 text-white rounded-xl md:w-1/2 z-10 md:h-auto h-full">
    <NuxtImg class="w-screen h-48 object-cover rounded-t-xl" :src="travelData.image || imagePlaceholder"
      alt="new travel image" :preload="true" />
    <button class="bg-red-500 w-full h-8 md:hidden" @click="navigateTo('/')">Go Back</button>
    <AtomInput v-model="travelData.image" id="image-input" label="Image Link" placeholder="Enter image link" />
    <AtomInput v-model="travelData.travelPeriod" id="travel-period-input" label="Travel Period"
      placeholder="Enter travel period" />
    <AtomInput v-model="travelData.averageRating" id="average-rating-input" label="Average Rating" type="number"
      placeholder="Enter travel rating" />
    <AtomInput v-model="travelData.totalDays" id="total-days-input" label="Total Days" type="number"
      placeholder="Enter total days" />
    <AtomInput v-model="travelData.pricePerPerson" id="price-per-person-input" label="Price Per Person" type="number"
      placeholder="Enter price per person" />
    <AtomInput v-model="travelData.name" id="travel-name-input" label="Travel Name" placeholder="Enter travel name" />
    <AtomInput v-model="travelData.description" id="travel-description-input" label="Travel Description" type="textarea"
      placeholder="Enter travel description" />
    <div class="flex items-center gap-4 mx-4">
      <input class="my-4 w-full h-10 bg-green-500 rounded cursor-pointer" type="submit"
        :value="addNewTravel ? 'ADD' : 'EDIT'">
      <input v-if="!addNewTravel" @click="onHandleDelete" class="my-4 w-1/2 h-10 bg-red-500 rounded cursor-pointer"
        type="button" value="DELETE">
    </div>
  </form>
</template>