<script setup lang="ts">
/**
 * Component: Booking Wizard
 * Description: A wizard component for booking travel.
 * 
 * @prop {Object} bookingData - The booking data object.
 * @prop {number} bookingWizardStep - The current step of the booking wizard.
 * @prop {string | null} error - The error message, if any.
 * 
 * @event update-bookings - Emitted when the bookings are updated.
 * 
 * @method fetchTravel - Fetches travel data from the server.
 * @method onHandleSubmit - Handles form submission.
 * @method delayedRedirect - Redirects to the booking page after a delay.
 */
import { HTTP_GET } from '../utils/http';
import { type BookingData } from '../types'

const route = useRoute();
const router = useRouter();
const bookingData = ref<BookingData>({});
const bookingWizardStep = ref(1);
const error = ref<string | null>(null);
const emit = defineEmits(['update-bookings']);

const fetchTravel = async () => {
  try {
    const response = await HTTP_GET(String(route.query.id));
    bookingData.value = { ...bookingData.value, ...response };
  } catch (err) {
    error.value = (err as Error).message || 'An error occurred';
  }
};

const onHandleSubmit = async () => {
  bookingWizardStep.value++;
  if (bookingWizardStep.value === 3) {
    await fetchTravel()
    emit('update-bookings', bookingData.value);
    delayedRedirect();
  }
};

const delayedRedirect = () => {
  setTimeout(() => {
    router.push('/booking');
  }, 3000);
};
</script>

<template>
  <div class="flex justify-center items-center fixed bg-white w-full h-full z-10 border">
    <form @submit.prevent="onHandleSubmit">
      <div v-if="bookingWizardStep === 1">
        <!-- Step 1: Booking Details -->
        <h2 class="text-2xl font-bold mb-4">Enter your details</h2>
        <AtomInput v-model="bookingData.email" id="email-input" label="Email *" />
        <AtomInput v-model="bookingData.name" id="name-input" label="Name *" />
        <AtomInput v-model="bookingData.surname" id="surname-input" label="Surname *" />
        <AtomInput v-model="bookingData.phone" id="phone-input" label="Phone number *" />
        <AtomInput v-model="bookingData.birthday" id="birthday-input" label="Date of Birth *" />
      </div>

      <div v-else-if="bookingWizardStep === 2" class="w-96">
        <!-- Step 2: Payment Method Selection -->
        <div class="flex flex-col items-center justify-center h-full">
          <h2 class="text-2xl font-bold mb-4">Payment Selection</h2>
          <div class="flex justify-center space-x-4">
            <label class="flex items-center space-x-2">
              <input type="radio" v-model="bookingData.paymentMethod" value="paypal" class="form-radio" />
              <NuxtImg src="https://img.icons8.com/ios-filled/50/paypal.png" alt="PayPal" width="30" height="30"
                placeholder />
              <span class="text-lg">PayPal</span>
            </label>
            <label class="flex items-center space-x-2">
              <input type="radio" v-model="bookingData.paymentMethod" value="revolut" class="form-radio" />
              <NuxtImg src="https://img.icons8.com/ios-filled/50/revolut.png" alt="Revolut" width="30" height="30"
                placeholder />
              <span class="text-lg">Revolut</span>
            </label>
            <label class="flex items-center space-x-2">
              <input type="radio" v-model="bookingData.paymentMethod" value="credit-card" class="form-radio" />
              <NuxtImg src="https://img.icons8.com/glyph-neue/64/credit-card-front.png" alt="Credit Card" width="30"
                height="30" placeholder />
              <span class="text-lg">Credit Card</span>
            </label>
          </div>
        </div>
      </div>

      <div v-else class="flex flex-col justify-center m-auto h-screen w-80 text-center">
        <!-- Step 3: Thank You Message -->
        <h2>Thank you for your purchase, you will be redirected to the main page!</h2>
        <NuxtImg src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRutt24TScmstxqw2rpH_InoymweTnaxQzl1Q&usqp=CAU"
          alt="Thank You" placeholder />
      </div>

      <input v-if="bookingWizardStep !== 3" class="w-96 my-4 p-2 bg-blue-500 rounded-lg text-white cursor-pointer"
        type="submit" :value="bookingWizardStep === 1 ? 'Next' : 'Submit'">
    </form>
  </div>
</template>


