<script setup lang="ts">
/**
 * Component for displaying a list of travel cards.
 *
 * @component TravelCardList
 * @props {Array<Travel>} travels - The array of travel objects to be displayed.
 * @props {Object} travelCardData - The data object for the travel card.
 * @props {Boolean} isDisabledUserInter - Flag indicating whether user interaction is disabled.
 */
import type { Travel } from '~/types';

const props = defineProps({
  travels: {
    type: Array as () => Array<Travel>,
    required: true
  },
  travelCardData: {
    type: Object,
    required: true
  } as any,
  isDisabledUserInter: {
    type: Boolean,
    default: false
  }
});
</script>

<template>
  <div class="flex flex-col justify-center items-center py-16 text-center"
    :style="`background-color: ${travelCardData.bgTop};`">
    <h1 class="text-4xl font-semibold">{{ travelCardData.title }}</h1>
    <h2 class="mt-4 w-2/4 text-lg">
      {{ travelCardData.content }}
    </h2>
  </div>
  <NuxtImg class="w-full h-full object-cover" :src="travelCardData.heroImg" :alt="travelCardData.title" :preload="true" />
  <div class="flex gap-2 md:justify-center md:flex-wrap px-4 pt-4 pb-10 overflow-x-auto"
    :style="`background-color: ${travelCardData.bgBottom};`">
    <TravelCard v-for="travel in props.travels" :travel="travel" :isDisabledUserInter="isDisabledUserInter"
      :key="travel.id" />
  </div>
</template>