<script setup lang="ts">
/**
 * Fetches the travel data from the server based on the query parameter.
 * @returns {Promise<void>} A promise that resolves when the travel data is fetched successfully.
 */
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { HTTP_PATCH, HTTP_DELETE } from "../utils/http";
import type { Travel } from '~/types';

const route = useRoute();
const router = useRouter();
const travel = ref<Travel | null>(null);
const editableTravel = ref<Travel | null>(null);
const error = ref<string | null>(null);

const fetchTravel = async () => {
  try {
    const response = await HTTP_GET(String(route.query.id));
    travel.value = response;
    editableTravel.value = { ...response };
  } catch (err) {
    error.value = (err as Error).message || 'An error occurred';
  }
};

const onHandleDelete = async () => {
  if (travel.value) {
    await HTTP_DELETE(travel.value.id);
    router.push({ path: '/', query: { deleted: 'true' } });
  }
};

const onHandleEdit = async () => {
  if (editableTravel.value) {
    await HTTP_PATCH(editableTravel.value.id, editableTravel.value);
    router.push({ path: '/', query: { updated: 'true' } });
  }
};

watch(() => route.query.travel, (newValue, oldValue) => {
  if (newValue !== oldValue) {
    fetchTravel();
  }
}, { immediate: true });
</script>

<template>
  <div v-if="editableTravel" :key="editableTravel.id">
    <AtomForm :add-new-travel="false" :on-handle-submit="onHandleEdit" :on-handle-delete="onHandleDelete"
      :travel-data="editableTravel" />
  </div>
</template>