<script setup lang="ts">
/**
 * Represents a travel card component.
 *
 * @component TravelCard
 * @props {Object} travel - The travel object containing information about the travel.
 * @props {Boolean} isDisabledUserInter - Flag indicating if user interaction is disabled.
 */
const route = useRoute()
const router = useRouter()
const props = defineProps({
  travel: {
    type: Object,
    required: true
  },
  isDisabledUserInter: {
    type: Boolean,
    default: false
  }
});

const {
  id,
  name,
  image,
  travelPeriod,
  averageRating,
  totalDays,
  pricePerPerson
} = props.travel

/**
 * Handles the click event on the travel card.
 * If user interaction is not disabled, it navigates to the appropriate route based on the current route name.
 */
const onHandleClick = () => {
  if (!props.isDisabledUserInter) {
    if (route.name === "booking") {
      router.push({
        query: { "b": name, id }
      })
    } else {
      router.push({
        path: '/',
        query: { "travel": name, id }
      })
    }
  }
}

</script>

<template>
  <div class="relative text-white my-2 cursor-pointer" @click="onHandleClick">
    <NuxtImg class="rounded-xl md:w-48" :src="image" :alt="name" width="260" height="260" :preload="true" />
    <div class="info-image absolute bottom-24 left-0 text-xs">
      <div class="bg-neutral-900 pl-4 p-2 rounded-r font-semibold">{{ travelPeriod }}</div>
      <div class="mt-2 pl-4">{{ averageRating }}</div>
      <div class="pl-4 text-xs leading-tight font-semibold">{{ `${totalDays} days` }}</div>
    </div>
    <div class="link mt-4">
      <h3 class="font-bold w-60 md:text-sm md:w-48">{{ name }}</h3>
      <p class="text-xs">{{ `${pricePerPerson} €` }}</p>
    </div>
  </div>
</template>