<script setup lang="ts">
import { HTTP_GET } from '../utils/http';
import type { Travel } from '../types';

const route = useRoute();
const travels = ref<Travel[]>([]);
const bookings = ref<any>([]);
const error = ref<String | null>(null);

const travelCardListData = {
  title: "Book your stay",
  content: "Find the perfect accommodation for your next trip!",
  bgTop: "#badcf7",
  bgBottom: "#0279c0",
  heroImg: "https://cdn.weroad.io/common/images/highlights/webp-desktop/beach.webp"
}
const bookedCardListData = {
  title: "Your bookings",
  content: "This is the list of your submitted bookings",
  bgTop: "#f1e8d4",
  bgBottom: "#221516",
  heroImg: "https://cdn.weroad.io/common/images/highlights/jpg/desert-1.jpg"
}

/**
 * Fetches travels data from the server.
 * @async
 * @function fetchTravels
 * @returns {Promise<void>} - A promise that resolves when the travels data is fetched successfully.
 */
const fetchTravels = async (): Promise<void> => {
  try {
    const response = await HTTP_GET();

    travels.value = response;
    error.value = null;
  } catch (err) {
    error.value = err as null;
  }
};

/**
 * Adds a new booking to the list of bookings.
 * 
 * @param {Travel} newBooking - The new booking to be added.
 */
const addBooking = (newBooking: Travel) => {
  bookings.value.push(newBooking);
}

onMounted(fetchTravels);
</script>

<template>
  <BookingWizard v-if="route.query.b" @update-bookings="addBooking" />
  <TravelCardList v-if="!error" :travelCardData="travelCardListData" :travels="travels.slice().reverse()" />
  <TravelCardList v-if="!error" :travelCardData="bookedCardListData" :travels="bookings" :isDisabledUserInter="true" />
</template>