<script setup lang="ts">
import { HTTP_GET } from '../utils/http';
import type { Travel } from '../types';

const route = useRoute();
const router = useRouter();
const travelCardListData = {
  title: "Destinations to Discover",
  content: "Maranhão, Rajasthan, Trawangan, do they sound familiar? Experience an adventure outside the ordinary!",
  bgTop: "#e9f0e2",
  bgBottom: "#171717",
  heroImg: "https://cdn.weroad.io/common/images/highlights/webp-desktop/jungle.webp"
}
const travels = ref<Travel[]>([]);
const newTravel = ref<Travel>({} as Travel)
const error = ref<String | null>(null);
const isDataUpdated = ref<boolean>(false)

/**
 * Fetches travel data from the server and updates the component state.
 * 
 * @async
 * @function fetchTravels
 * Tries to fetch the list of travels from the server. On success, it updates the `travels` ref with the new data
 * and toggles `isDataUpdated` to trigger a rerender. On failure, it sets the `error` ref with the error message.
 */

const fetchTravels = async () => {
  try {
    const response = await HTTP_GET()

    travels.value = response;
    error.value = null;
    isDataUpdated.value = !isDataUpdated.value
  } catch (err) {
    error.value = err as null;
  }
};

const onAddNewTravel = async () => {
  await HTTP_POST(newTravel.value);
  router.push({ path: '/', query: { added: 'true' } });
}

onMounted(fetchTravels);

/**
 * Watches for changes in the route query parameter 'id'. 
 * 
 * When the 'id' parameter changes, it calls `fetchTravels` to refresh the data.
 */
watch(() => route.query, async (current, previous) => {
  if (current !== previous) {
    await fetchTravels();
  }
}, { immediate: true });
</script>

<template>
  <AddTravel />
  <AtomForm v-if="route.query.q" :travelData="newTravel" :addNewTravel="true" :onHandleSubmit="onAddNewTravel" />
  <TravelCardInfo v-if="route.query.id" />
  <TravelCardList v-if="!error" :travelCardData="travelCardListData" :travels="travels.slice().reverse()"
    :key="isDataUpdated.toString()" />
  <div v-else>An error occurred while loading the data.</div>
</template>